@page "/"
@attribute [Authorize]

@using Chinook.Models
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Grids
@using Chinook.Database.Persistence
@inject IArtistRepository _artist;

<PageTitle>Index</PageTitle>

<h1>Artists</h1>

@if (Artists == null)
{
    <Loading />
}
else
{
    <div>
        <SfGrid DataSource="@Artists" AllowFiltering="true">
            <GridFilterSettings Mode="FilterBarMode.Immediate" ImmediateModeDelay="200"></GridFilterSettings>
            <GridColumns>
                    <GridColumn Field="Name" HeaderText="Artist Name">
                        <Template>
                            @{
                                var artist = (context as Artist);
                                <div class="image">
                                    <a href="Artist/@artist.ArtistId">@artist.Name</a>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn AllowFiltering="false" Field="Albums.Count" HeaderText="Album Count"></GridColumn>         
            </GridColumns>
        </SfGrid>
    </div>
}

@code {

    private List<Artist> Artists = new List<Artist>();

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
        Artists = await _artist.GetAllArtist();
    }
}
